@import "tailwindcss";


.slide-menu__navlist-item {
    padding: 16px;
    border-bottom: 2px solid rgb(100, 100, 100);
}

.slide-menu__link {
    font-size: 1.15rem;
    color: rgb(100, 100, 100)
}

.gallery__img {
    height: 300px;
    object-fit: cover;
}

.form__label {
    font-size: 1.15rem;
}

.form__input {
    background-color: rgb(221, 214, 255);
    padding: 6px;
    border: 2px solid black;
}

@media (min-width:1200px) {
    .gallery__img {
    height: 425px;
    flex: 1 1 100%;
    
    
}

.gallery__wrapper {
    display: flex;
    height: 425px;
    flex: 1 1 32%;
    overflow: hidden;
}
}