@import "tailwindcss";


.slide-menu__navlist-item {
    padding: 16px;
    border-bottom: 2px solid rgb(100, 100, 100);
}

.slide-menu__link {
    font-size: 1.15rem;
    color: rgb(100, 100, 100)
}

.gallery__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.form__label {
    font-size: 1.15rem;
}

.form__input {
    background-color: rgb(221, 214, 255);
    padding: 6px;
    border: 2px solid black;
    width: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 768px) {
    .portfolio__video-gallery {
        padding: 1rem 0;
    }
}

@media (min-width:1200px) {
    .gallery__img {
    height: 425px;
    flex: 1 1 100%;
    
    
    }

    .gallery__wrapper {
        display: flex;
        height: 425px;
        flex: 1 1 32%;
        overflow: hidden;
    }
}